.idea/
cmake-build-debug/
cmake-build-release/
*.tlog
Debug/
.vs/
*.user
*.VC.db
__pycache__/
*_error_message.txt

x64/
*.VC.opendb
venv/
*.jpg
/pytorch/cifar_classes/cifar
/TensorFlow/MyTest/MNIST_data
/TensorFlow/MyTest/output
/pytorch/hand/mnist
/tensorFlowRealTrack/MINIST_data
*.label
